{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- Styles -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="wrapper container">
    <header>
      <h1>
        <a href="/">
          Etni.co - Біжутерія ручної роботи
        </a>
      </h1>
      <div class="cart pull-right">Ваш кошик порожній</div>
    </header>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/">Головна</a></li>
      <li><a href="/about/">Вироби</a></li>
      <li><a href="/projects/">Оплата</a></li>
      <li><a href="/careers/">Доставка</a></li>
      <li><a href="/contact/">Контакти</a></li>      
    </ul>
  </nav>
  <div class="heading"></div>    
  <div class="row">
    <aside class="col-md-7">{% block aside %}{% endblock %}</aside>
    <section class="col-md-17">{% block content %}{% endblock %}</section>    
  </div>
</div>
  <footer></footer>
</body>
</html> 